<meta charset="UTF-8">
<title>Login</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
	body { 
		text-align:center;
		background-color: rgba(175,175,175,0.1);
		padding-top: 7.5%;
	}
	.login .container{
		*width: 60%;
	}
	.login .input-group{
		padding:10px 0;
	}
	/*
	.login .label-danger{
		display:block;
		margin:10px 0;
		padding:6px 0;
	}
	.login #lbl_error{
		display: none;
	}
	*/
	.usuarios h1{
		display: inline;
	}
</style>