<!DOCTYPE html>
<html lang="es">
<head>
	<% include ../partials/head %>
</head>
<body class="container">
	<header>
		<% include ../partials/header %>
	</header>
	<section>
		<p>Se ha insertado el usuario:</p>
		<label><%= datos.user_name %></label></br>
		<label><%= datos.passwd %></label></br>
	</section>
	<footer></footer>
</body>
</html>